/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

/* Global Variables */
:root{
    --sideBGColor: #272726;
    --themeColor: #ABF600;
    --iconBGColor: #404140;
    --textColorWhite: #FFFFFF;
    --bgColor: #212021;
}
/* :root{
    --sideBGColor: #363A3D;
    --themeColor: #00A78E;
    --iconBGColor: #494E52;
    --textColorWhite: #FFFFFF;
    --bgColor: linear-gradient(to top,  #494E52, #A4AFB8);
    --bgColor: #494E52;
} */

body{
    background: var(--bgColor);
    background-attachment: fixed;
}

/* ===== header ===== */
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}
header .profile{
    text-align: center;
    margin: 10px 0;
}
header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor);

}
header .profile h1{
    color: var(--textColorWhite);
    font-weight: 600;
}
header .profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGColor);
    color: var(--textColorWhite);
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}
header .profile .social-icons a:hover{
    background-color: var(--themeColor);
}

/* NavBar */
header nav{
    margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}
header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeColor);
}
header footer{
    margin-top: 60px;
}
header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.6s;
}
header .footer p a{
    color: var(--themeColor);
}

/* Mobile nav */
#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: var(--textColorWhite);
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    display: none;
}

/* Mobile view */
@media only screen and (max-width: 1050px){
    header{
        left: -300px;
    }
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}
.mobile-nav-active header{
    left: 0;
}
.mobile-nav-active .footer{
    left: 0;
}

main{
    margin-left: 300px;
    transition: 0.3s;
}
@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}

/* Dropdown */
header  .bio-dropdown{
    color: lightgray;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

header .bio-dropdown .dropdown label:hover{
    cursor: pointer;
}

header .bio-dropdown .dropdown i{
    font-size: 20px;
    padding: 7px 10px;
    margin: 7px 0;
}
header .bio-dropdown .dropdown:hover label i{
    color: var(--themeColor);
    cursor: pointer;
}

header .bio-dropdown .dropdown-btn{
    text-decoration: none;
    transition: 0.3s;
}

header .bio-dropdown .dropdown-menu{
    display: none;
    list-style: none;
    padding: 10px;
    width: 100%;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle{
    display: none;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle:checked + .dropdown-btn + .dropdown-menu {
    display: block;
}

header .bio-dropdown .dropdown .dropdown-btn .arrow {
    display: inline-block;
    transition: transform 0.3s;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle:checked + .dropdown-btn .arrow {
    transform: rotate(180deg);
}


/* Dropdown */
header  .bio-dropdown{
    color: lightgray;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

header .bio-dropdown .dropdown label:hover{
    cursor: pointer;
}

header .bio-dropdown .dropdown i{
    font-size: 20px;
    padding: 7px 10px;
    margin: 7px 0;
}
header .bio-dropdown .dropdown:hover label i{
    color: var(--themeColor);
    cursor: pointer;
}

header .bio-dropdown .dropdown-btn{
    text-decoration: none;
    transition: 0.3s;
}

header .bio-dropdown .dropdown-menu{
    display: none;
    list-style: none;
    padding: 10px;
    width: 100%;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle{
    display: none;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle:checked + .dropdown-btn + .dropdown-menu {
    display: block;
}

header .bio-dropdown .dropdown .dropdown-btn .arrow {
    display: inline-block;
    transition: transform 0.3s;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle:checked + .dropdown-btn .arrow {
    transform: rotate(180deg);
}


/* Dropdown */
header  .skill-dropdown{
    color: lightgray;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

header .skill-dropdown .dropdown label:hover{
    cursor: pointer;
}

header .skill-dropdown .dropdown i{
    font-size: 20px;
    padding: 7px 10px;
    margin: 7px 0;
}
header .skill-dropdown .dropdown:hover label i{
    color: var(--themeColor);
    cursor: pointer;
}

header .skill-dropdown .dropdown-btn{
    text-decoration: none;
    transition: 0.3s;
}

header .skill-dropdown .dropdown-menu{
    display: none;
    list-style: none;
    padding: 10px;
    width: 100%;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle{
    display: none;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle:checked + .dropdown-btn + .dropdown-menu {
    display: block;
}

header .skill-dropdown .dropdown .dropdown-btn .arrow {
    display: inline-block;
    transition: transform 0.3s;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle:checked + .dropdown-btn .arrow {
    transform: rotate(180deg);
}

/* ----------------------------------------------------------------- */

/* MEdia section */
#film{
    padding: 70px 30px;
}


#film .sub-heading{
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 10px;
}
#film .divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
}
#film .divider ~ p{
    color: var(--textColorWhite);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 15px;
    padding-bottom: 30px;
}

/* #film .section{
    background-color: var(--iconBGColor);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 167, 142, 1);
}

#film .section h2{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--textColorWhite);
}

#film .section .media-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#film .section .media-list .media-item{
    background-color: #3F403F;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #9FB8AD;
    width: calc(33.33% - 15px); 
    box-sizing: border-box;
}
#film .section .media-list .media-item h3{
    margin: 0;
    color: var(--textColorWhite);
}

#film .section .media-list .media-item .video-container{
    position: relative;
    width: 100%; 
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}

#film .section .media-list .media-item .video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#film .section .media-list .media-item:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
} */


/* Tv shows */
#film .title-1 {
    text-align: center;
    color: var(--textColorWhite);
    margin: 25px;
}

#film .title-1 h1{
    font-size: 55px;
    font-weight: 500;
    padding-bottom: 20px;
}
#film .title-1 p{
    font-size: 20px;
    color: var(--textColorWhite);
}

/* TV shows */

#film .tv-show h2{
    padding-top: 100px;
    color: var(--textColorWhite);
    font-weight: 500;
}

#film .tv-show .film-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* No gap between grid items */
    justify-content: center;
    align-items: center;
}

#film .tv-show .film-row .film-item {
    position: relative;
    border-radius: 0; /* Remove border-radius if you want them tightly packed */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%; /* Ensure it takes full grid width */
    height: 100%; /* Ensure it takes full grid height */
}

#film .tv-show .film-row .film-item .film-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes sure the image fills the container */
    border-radius: 11px; /* Optional: remove border radius for a seamless grid */
}

#film .tv-show .film-row .film-item .film-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Slight transparency */
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    visibility: hidden;
}

#film .tv-show .film-row .film-item:hover .film-info {
    transform: scale(1);
    visibility: visible;
}

#film .tv-show .film-row .film-item .film-info h4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#film .tv-show .film-row .film-item .film-info p {
    color: white;
    font-size: 12px;
}

#film .tv-show .film-row .film-item .film-info a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: var(--iconBGColor);
    border-radius: 50%;
    color: var(--themeColor);
    line-height: 40px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#film .tv-show .film-row .film-item .film-info a:hover {
    background-color: var(--sideBGColor);
}

/* Tv shows */
#film .title-1 {
    text-align: center;
    color: var(--textColorWhite);
    margin: 25px;
}

#film .title-1 h1{
    font-size: 55px;
    font-weight: 500;
    padding-bottom: 20px;
}
#film .title-1 p{
    font-size: 20px;
    color: var(--textColorWhite);
}

/* Movies */

#film .movie h2{
    padding-top: 100px;
    color: var(--textColorWhite);
    font-weight: 500;
}

#film .movie .movie-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* No gap between grid items */
    justify-content: center;
    align-items: center;
}

#film .movie .movie-row .movie-item {
    position: relative;
    border-radius: 0; /* Remove border-radius if you want them tightly packed */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%; /* Ensure it takes full grid width */
    height: 100%; /* Ensure it takes full grid height */
}

#film .movie .movie-row .movie-item .movie-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes sure the image fills the container */
    border-radius: 11px; /* Optional: remove border radius for a seamless grid */
}

#film .movie .movie-row .movie-item .movie-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Slight transparency */
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    visibility: hidden;
}

#film .movie .movie-row .movie-item:hover .movie-info {
    transform: scale(1);
    visibility: visible;
}

#film .movie .movie-row .movie-item .movie-info h4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#film .movie .movie-row .movie-item .movie-info p {
    color: white;
    font-size: 12px;
}

#film .movie .movie-row .movie-item .movie-info a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: var(--iconBGColor);
    border-radius: 50%;
    color: var(--themeColor);
    line-height: 40px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#film .movie .movie-row .movie-item .movie-info a:hover {
    background-color: var(--sideBGColor);
}
/* MEdia section */