/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

/* Global Variables */
:root{
    --sideBGColor: #272726;
    --themeColor: #ABF600;
    --iconBGColor: #404140;
    --textColorWhite: #FFFFFF;
    --bgColor: #212021;
}

/* :root{
    --sideBGColor: #272727;
    --themeColor: #00A78E;
    --iconBGColor: #494E52;
    --textColorWhite: #FFFFFF;
    --bgColor: linear-gradient(to top,  #494E52, #A4AFB8);
    --bgColor: #494E52;
} */

body{
    background: var(--bgColor);
    background-attachment: fixed;
}

/* ===== header ===== */
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header .profile{
    text-align: center;
    margin: 10px 0;
}
header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor);

}
header .profile h1{
    color: var(--textColorWhite);
    font-weight: 600;
}
header .profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGColor);
    color: var(--textColorWhite);
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}
header .profile .social-icons a:hover{
    background-color: var(--themeColor);
}

/* NavBar */

header nav{
    margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}
header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeColor);
}

header footer{
    margin-top: 60px;
}

header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.6s;
}
header .footer p a{
    color: var(--themeColor);
}

/* Mobile nav */
#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: var(--textColorWhite);
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    display: none;
}

/* Mobile view */
@media only screen and (max-width: 1050px){
    header{
        left: -300px;
    }
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}
.mobile-nav-active header{
    left: 0;
}
.mobile-nav-active .footer{
    left: 0;
}

main{
    margin-left: 300px;
    transition: 0.3s;
}
@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}

/* Dropdown */
header  .bio-dropdown{
    color: lightgray;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

header .bio-dropdown .dropdown label:hover{
    cursor: pointer;
}

header .bio-dropdown .dropdown i{
    font-size: 20px;
    padding: 7px 10px;
    margin: 7px 0;
}
header .bio-dropdown .dropdown:hover label i{
    color: var(--themeColor);
    cursor: pointer;
}

header .bio-dropdown .dropdown-btn{
    text-decoration: none;
    transition: 0.3s;
}

header .bio-dropdown .dropdown-menu{
    display: none;
    list-style: none;
    padding: 10px;
    width: 100%;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle{
    display: none;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle:checked + .dropdown-btn + .dropdown-menu {
    display: block;
}

header .bio-dropdown .dropdown .dropdown-btn .arrow {
    display: inline-block;
    transition: transform 0.3s;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle:checked + .dropdown-btn .arrow {
    transform: rotate(180deg);
}


/* Dropdown */
header  .skill-dropdown{
    color: lightgray;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

header .skill-dropdown .dropdown label:hover{
    cursor: pointer;
}

header .skill-dropdown .dropdown i{
    font-size: 20px;
    padding: 7px 10px;
    margin: 7px 0;
}
header .skill-dropdown .dropdown:hover label i{
    color: var(--themeColor);
    cursor: pointer;
}

header .skill-dropdown .dropdown-btn{
    text-decoration: none;
    transition: 0.3s;
}

header .skill-dropdown .dropdown-menu{
    display: none;
    list-style: none;
    padding: 10px;
    width: 100%;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle{
    display: none;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle:checked + .dropdown-btn + .dropdown-menu {
    display: block;
}

header .skill-dropdown .dropdown .dropdown-btn .arrow {
    display: inline-block;
    transition: transform 0.3s;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle:checked + .dropdown-btn .arrow {
    transform: rotate(180deg);
}

/* ----------------------------------------------------------------- */

/* ====== PHOTO GALLERY START ====== */

#gallery{
    padding: 50px 30px;
}

#gallery .sub-heading{
    color: whitesmoke;
    font-size: 30px;
}
#gallery .divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
}

#gallery .divider ~ p{
    color: var(--textColorWhite);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 50px;
}
#gallery .wrapper h1{
    color: var(--textColorWhite);
    font-size: 20px;

}
#gallery .wrapper .box-area{
    color: var(--textColorWhite);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#gallery .wrapper .box-area .box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(237, 230, 230, 0.5);
    height: 450px;
}

#gallery .wrapper .box-area .box img{
    width: 100%;
    height: 100%;
    border-radius: 11px;
    transition: transform 0.5s;
    object-fit: cover;
}

#gallery .wrapper .box-area .box:hover img{
    transform: scale(1.2);
}

#gallery .wrapper .box-area .box a{
    color: var(--textColorWhite);
    text-decoration: none;
}

#gallery .wrapper .box-area .box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Slight transparency */
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    visibility: hidden;
}
#gallery .wrapper .box-area .box:hover .overlay{
    transform: scale(1);
    visibility: visible;
}

#gallery .wrapper .box-area .box .overlay h3{
    font-weight: 400;
    /* margin-bottom: 20px;
    margin-top: 50%; */
    font-size: 15px;
    letter-spacing: 2px;
}


/* arrow up */
#gallery .arrow-up {
    width: 50px;
    height: 50px;
    background-color: var(--themeColor);
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 6%; /* Adjust based on need */
    right: 2%; /* Adjust based on need */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    z-index: 999; /* Ensure it's above other content */
}

#gallery .bio-row a ~ i{
    background-color: var(--iconBGColor);
}
/* ====== PHOTO GALLERY END ====== */
