/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

/* Global Variables */
:root{
    --sideBGColor: #272726;
    --themeColor: #ABF600;
    --iconBGColor: #404140;
    --textColorWhite: #FFFFFF;
    --bgColor: #212021;
}
/* :root{
    --sideBGColor: #363A3D;
    --themeColor: #00A78E;
    --iconBGColor: #494E52;
    --textColorWhite: #FFFFFF;
    --bgColor: linear-gradient(to top,  #494E52, #A4AFB8);
    --bgColor: #494E52;
} */

body{
    background: var(--bgColor);
    background-attachment: fixed;
}

/* ===== header ===== */
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header .profile{
    text-align: center;
    margin: 10px 0;
}
header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor);

}
header .profile h1{
    color: var(--textColorWhite);
    font-weight: 600;
}
header .profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGColor);
    color: var(--textColorWhite);
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}
header .profile .social-icons a:hover{
    background-color: var(--themeColor);
}

/* NavBar */
header nav{
    margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}
header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeColor);
}

header footer{
    margin-top: 60px;
}

header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.6s;
}
header .footer p a{
    color: var(--themeColor);
}

/* Mobile nav */
#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: var(--textColorWhite);
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    display: none;
}

/* Mobile view */
@media only screen and (max-width: 1050px){
    header{
        left: -300px;
    }
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}
.mobile-nav-active header{
    left: 0;
}
.mobile-nav-active .footer{
    left: 0;
}

main{
    margin-left: 300px;
    transition: 0.3s;
}
@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}

/* Dropdown */
header  .bio-dropdown{
    color: lightgray;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

header .bio-dropdown .dropdown label:hover{
    cursor: pointer;
}

header .bio-dropdown .dropdown i{
    font-size: 20px;
    padding: 7px 10px;
    margin: 7px 0;
}
header .bio-dropdown .dropdown:hover label i{
    color: var(--themeColor);
    cursor: pointer;
}

header .bio-dropdown .dropdown-btn{
    text-decoration: none;
    transition: 0.3s;
}

header .bio-dropdown .dropdown-menu{
    display: none;
    list-style: none;
    padding: 10px;
    width: 100%;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle{
    display: none;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle:checked + .dropdown-btn + .dropdown-menu {
    display: block;
}

header .bio-dropdown .dropdown .dropdown-btn .arrow {
    display: inline-block;
    transition: transform 0.3s;
}

header .bio-dropdown .dropdown #bio-dropdown-toggle:checked + .dropdown-btn .arrow {
    transform: rotate(180deg);
}


/* Dropdown */
header  .skill-dropdown{
    color: lightgray;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

header .skill-dropdown .dropdown label:hover{
    cursor: pointer;
}

header .skill-dropdown .dropdown i{
    font-size: 20px;
    padding: 7px 10px;
    margin: 7px 0;
}
header .skill-dropdown .dropdown:hover label i{
    color: var(--themeColor);
    cursor: pointer;
}

header .skill-dropdown .dropdown-btn{
    text-decoration: none;
    transition: 0.3s;
}

header .skill-dropdown .dropdown-menu{
    display: none;
    list-style: none;
    padding: 10px;
    width: 100%;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle{
    display: none;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle:checked + .dropdown-btn + .dropdown-menu {
    display: block;
}

header .skill-dropdown .dropdown .dropdown-btn .arrow {
    display: inline-block;
    transition: transform 0.3s;
}

header .skill-dropdown .dropdown #skill-dropdown-toggle:checked + .dropdown-btn .arrow {
    transform: rotate(180deg);
}

/* ------------------------------------------------------------------------- */



/* ======== BIOGRAPHY SECTION START ========  */
#biography{
    padding: 70px 30px;
}
#biography .sub-heading{
    color: whitesmoke;
    font-size: 30px;
}
#biography .divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
}

#biography .sub-heading ~ .sub-para{
    color: var(--textColorWhite);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 15px;
}

#biography .bio-row{
    /* height: 100%;
    width: 100%; */
    display: grid;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
    /* box-shadow: 0 0 10px  rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
    /* box-sizing: border-box; */
    margin-top: 50px;
    grid-gap: 80px;
}

#biography .bio-row .bio-item{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 20px rgb(33, 130, 65);
}

#biography .bio-row .bio-item h1{
    text-align: center;
    padding: 10px;
    color: var(--textColorWhite);
    font-size: 30px;
    letter-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#biography .bio-row .bio-item h1 ~ hr{
    border: 2px solid var(--themeColor);
    width: 50%;
    margin: auto;
}

#biography .bio-row .bio-item .bio-info{
    padding: 30px 50px;
    color: var(--textColorWhite);

}

#biography .bio-row .bio-item .bio-info h3{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 15x 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#biography .bio-row .bio-item .bio-info p{
    font-size: 20px;
    text-align: center;
    text-indent: 10%;
    text-align: justify;
    padding: 20px 30px;
    font-family: 'Verdana', Tahoma, sans-serif;
}
#biography .bio-row .bio-item .bio-info i{
    font-size: 22px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
#biography .bio-row .bio-item .bio-info sup{
    color: var(--themeColor);
    font-weight: 700;
}

/* arrow up */
#biography .bio-row .arrow-up{
    width: 50px;
    height: 50px;
    background-color: var(--themeColor); 
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: fixed;
    left: 95%;
    top: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 90%);
}

#biography .bio-row a ~ i{
    background-color: var(--iconBGColor);
}


/* 4 pictures */


#biography .bio-row .thumbnails{
    background-color: var(--bgColor);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#biography .bio-row .thumbnails .thumbnail-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#biography .bio-row .thumbnails .thumbnail-container a img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    border: 2px solid var(--themeColor);
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#biography .bio-row .thumbnails .thumbnail-container a img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


/* ===== BIOGRAPHY SECTION END ====== */
